body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #c91515;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background: url('TimeBG_Full.png') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.record-container {
  text-align: left;
  width: 80%;
}

.patch {
  position: fixed;   /* Fixes the image to the viewport */
  top: 10px;         /* Distance from the top */
  left: 10px;       /* Distance from the left */
  width: 150px;       /* Width of the patch */
  height: 150px;      /* Height of the patch */
  z-index: 1500;     /* Ensures it stays on top */
  background-image: url('CLOCK.png'); /* Path to your image */
  background-size: contain;           /* Scale image to fit */
  background-repeat: no-repeat;       /* Prevent tiling */
  background-position: center;        /* Center inside container */
}



.record-card {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 50%;
  max-width: 100%px;
  margin: 0 auto;
  padding: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  flex: 3;
  text-align: center;
  padding-left: 30px;
}

.details {
  font-size: 16px;
  color: #333;
  line-height: 1.8;
}

.timer-area {
  text-align: right;
  margin: top 100px;
}

#timer {
  font-size: 150px;
  color: #d91b1b;
  font-weight: bold;
  margin: 0;
}

.estimate {
  color: #d91b1b;
  font-weight: bold;
  margin-top: 20px;
}

.divider {
  width: 80%;
  margin: 40px auto 0;
  border-top: 6px dashed #fff;
}

.edit-btn {
  background-color: #e01923;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.edit-btn:hover {
  background-color: #b8151d;
}
